@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* Variables Start */

:root {
    --main-background-color:white;

    --main-header-color:#662fa9;
    --main-intro-color:#271F30;
    --main-footer-color:#16121a;

    /* Header Items */
    --main-logo-color:#F9FAF8;
    --main-nav-link-color:#FAFAFF;

    /* Intro Items */
    --intro-title-color:#FAFAFF;
    --intro-subtext-color:#F9FAF8;

    /* Information Sections */
    --information-title-color:#271F30;

    /* Quote Section */
    --aspiring-quote-background-color: #f1ebff;
    --quote-color:#271F30;

    /* Call to action section */
    --call-to-action-title-color: black;
    --call-to-action-subtext-color: black;
    --call-to-action-link-color:black;
    --call-to-action-background-color: #271F30;
    --button-border-color: black;

    /* Button Section */
    --button-color:#7BC950;

    /* Footer Section */
    --footer-text-color:#F9FAF8;

    /* Fallback color for unloaded images */
    --image-container-background-color: #181c28;
}

/* Variables End */


/* Flex CSS Begin */

body {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

    background-color: var(--main-background-color);
}

.content.intro {
    flex-direction: row-reverse;
}

.content, .header, .header .container{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 32px;
}

.content, header, footer {
    padding: 2cm 0;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer .container {
    display: flex;
    flex: 1;
    max-width: 26cm;
    justify-content: space-between;
    align-items: center;
}

.header .container {
    max-width: 26cm;
    height: 64px;
    justify-content: space-between;
}

.header .container, .footer .container {
    margin: 0 40px;
}

.content {
    flex-wrap: wrap;
}

ul {
    display: flex;

    margin: 0;
    padding: 0;
}

.nav li {
    display: flex;
    align-items: center;
}

.intro .left-panel {
    max-width: 430px;
}

.content.information {
    flex-wrap: wrap;
}

.information .title {
    width: 100%;
    text-align: center;
}

.card-collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 150px;
}

.call-to-action {
    width: 18cm;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2.5em 7em;
    border-radius: 8px;
}

.footer {
    height: 96px;
}

.content.intro .left-panel {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}

.aspiring-quote .container {
    max-width: 750px;

    display: flex;
    flex-direction: column;

    gap: 0;

    margin: 0 40px;
}

.author {
    align-self: end;
    padding-right: 48px;
    white-space: nowrap;
}

.content.intro button, .call-to-action button {
    padding: 7px 0;
}

.intro a, .call-to-action a {
    padding: 7px 30px;

    font-size: 16px;
    font-weight: bold;
    color: var(--call-to-action-link-color);
    text-decoration: none;
}

/* Flex CSS End */

.header, .footer, .content.intro {
    background-color: var(--main-header-color);
}

.header, .footer {
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    position:relative;
}

.content.intro {
    background-color: var(--main-intro-color);
}

.footer {
    background-color: var(--main-footer-color);
}

.header .logo a {
    text-decoration: none;
    font-size: 24px;
    color: var(--main-logo-color);
    font-weight: bold;
}

ul {
    list-style: none;
    gap: 24px;
}

li a {
    text-decoration: none;
    color: var(--main-nav-link-color);
}

.footer {
    color: var(--footer-text-color);
}

.intro .title {
    font-size: 44px;
    font-weight: 900;
    color: var(--intro-title-color);
}

.intro .subtext {
    font-size: 18px;
    color: var(--intro-subtext-color);
}

.information .title {
    font-size: 36px;
    font-weight: 900;
    color: var(--information-title-color);

    margin-top: -1.2em;
}

.content.aspiring-quote {
    background-color: var(--aspiring-quote-background-color);
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: var(--quote-color);
}

button, .call-to-action {
    background-color: var(--button-color);
}

img {
    color: white;
}

.image-container {
    width: 150px;
    height: 150px;
    background-color: var(--image-container-background-color);
}

.intro .image-container {
    width: 460px;
    height: 215px;
}

.call-to-action .title {
    color: var(--call-to-action-title-color);
    font-size: 22px;
    font-weight: bold;
}

.call-to-action .subtext {
    color: var(--call-to-action-subtext-color);
    font-size: 18px;
}

button {
    background-color: var(--button-color);
    padding: 7px 30px;
    border-radius: 8px;

    border-color: transparent;
}

.call-to-action button {
    border-color: var(--button-border-color);
    border-style: solid;
}

.author {
    font-size: 20px;
    font-weight: bold;
}

img {
    width: inherit;
    height: inherit;
}

.card .image-container, .card img {
    border-radius: 16px;
}

.call-to-action-container {
    background-color: var(--call-to-action-background-color);
}

button a {
    /* prevent button text from wrapping */
    white-space: nowrap;
}